# Telegram Bot Configuration
# Get token from @BotFather on Telegram
TELEGRAM_BOT_TOKEN="8715555385:AAGrrHqT6ify5qZFf7_EC-p-ix-YAURXylc"

# Your Telegram user ID or channel ID (must be prefixed with -100 for channels)
TELEGRAM_CHAT_ID="-1003669229996"

# LinkedIn Scraping Settings (Comma-separated lists)
LINKEDIN_KEYWORDS="frontend, backend, fullstack, js,react , node,developer"
LINKEDIN_LOCATIONS="Egypt, United States, Canada, Saudi Arabia"

# Application Settings
SCRAPE_INTERVAL_MINUTES=10
LOG_LEVEL="INFO"
